<script type="text/ng-template" id="/details.html">
        <div class="search-panel">
            <div class="wrapper">
                <div class="return-results"> < <a href="#"> Return to results</a></div>
            </div>
        </div>
		<div class="wrapper">
            <div class="article-details">
                <h2>ARTICLE DETAILS</h2>
                <div class="article-body col-md-12">
                    <div class="article-title">
                        The view from the tree: A tale of two Bit.lys
                    </div>
                    <hr>
                    <div class="article-left-col col-md-6">
                        <dl class="dl-horizontal">
                            <dt>Author: </dt>
                            <dd><a>Tree, D.Eadward</a></dd>
                            <dt>Source: </dt>
                            <dd>Publishing executive, 01 May 2013, Vol. 28, Issue 3,</dd>
                            <dt>ISSN: </dt>
                            <dd>15589641</dd>
                            <dt>Publisher: </dt>
                            <dd>NORTH AMERICAN PUB. CO.</dd>
                            <dt>Language: </dt>
                            <dd>English</dd>
                            <dt>Country: </dt>
                            <dd>United States of America</dd>
                        </dl>
                    </div>
                    <div class="article-right-col col-md-6">
                    </div>
                </div>
            </div>
        </div>
</script>
