<script type="text/ng-template" id="/search.html">
    <div class="search-panel">
        <div class="wrapper">
            <div class="colLeftPanel">
                <label>SEARCH:</label>
                <div><a class="active">Publications</a> | <a>Articles/Chapters</a></div>
            </div>
            <div class="colRightPanel">
                <div class="search">
                    <input type="text" value="" ng-model='query'/>
                    <a class="searchButton" ng-click="find()">
                        <img src="/img/search-button.png" >
                    </a>
                </div>
                <div class="advancedSearch">
                    <button type="button" class="btn btn-primary" ng-click="open('lg')">Advanced</button>
                </div>
            </div>
        </div>
    </div>
    <div class="result">
        <div class="wrapper" ng-show="showResults">
            <div class="result-panel">
                <div class="result-header">
                   <h4 ng-model="resMetrics">Results: {{resMetrics.page*resMetrics.perPage-resMetrics.perPage+1}} - {{resMetrics.page*resMetrics.perPage}} of {{resMetrics.count}}</h4>
                </div>
                    <div class="result-list">
                        <div class="result-row" ng-repeat="result in queryResult">
                            <h3 class="title">
                                {{result.title}}
                            </h3>
                            <p> {{result.publisher}}</p>
                            <p>{{result.updated}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</script>
