<script type="text/ng-template" id="/search.html">
    <div class="search-panel">
        <div class="wrapper">
            <div class="colLeftPanel">
                <label>SEARCH:</label>
                <div><a class="active">Publications</a> | <a>Articles/Chapters</a></div>
            </div>
            <div class="colRightPanel">
                <div class="search">
                    <input type="text" value="" ng-model='query'/>
                    <a class="searchButton" ng-click="find()">
                        <img src="/img/search-button.png" >
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="result">
        <div class="wrapper" ng-show="showResults">
            <div class="result-panel">
                <div class="result-header">
                    {{result.publisher}}
                </div>
                    <div class="result-list">
                        <div class="result-row" ng-repeat="result in queryResult">
                            <h3 class="title">
                                {{result.title}}
                            </h3>
                            <p>{{result.updated}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Will use in future -->
<!--
    <div ng-controller="ModalDemoCtrl">
    
    <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
    <button type="button" class="btn btn-default" ng-click="open('lg')">Advanced Modal</button>
    <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
-->
</div>
</script>
