<script type="text/ng-template" id="search-panel.html">
    <div class="wrapper">
            <div class="colLeftPanel">
                <label>SEARCH:</label>
                <div><a class="active" href="#">Publications</a> | <a href="#">Articles/Chapters</a></div>
            </div>
            <div class="colRightPanel">
                <div class="search">
                    <input type="text" value="" />
                    <a href="#" class="searchButton"><img src="img/search-button.png" ></a>
                </div>
            </div>
        </div>
</script>