<script type="text/ng-template" id="/tagModuleTemplate.html">
    <div class="container">

        <div class="row">
            <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12">
                <h2>{{ titlePage }}</h2>
            </div>
        </div>

        <div class="row result">
            <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12">

                <h3>{{ titleCreateTag }}</h3>
                <create-tag></create-tag>

                <h3>{{ titleResultTagList }}</h3>
                <tags-list></tags-list>

            </div>
        </div>

    </div>
</script>
