<script id="tagsListTemplate.html" type="text/ng-template">
    <div class="container" ng-controller="tagsCtrl">
        <div class="row">
            <h2>{{ titlePage }}</h2>

            <form id="form-create" ng-submit="createTag()">
                <input type="text" ng-model="formCreate.tagName" size="20" />
                <input type="submit" value="Add tag" />
            </form>

            <ul class="tags">
                <li ng-repeat="tag in tags">
                    <span class="tag" tag-item tid="{{ tag._id }}" style="color: {{ tag.textColor }}; background-color:{{ tag.backgroundColor }};" >
                        <span>{{ tag.name }}</span>
                        
                        <a ng-click="enableEditor()" ng-hide="editorEnabled">Edit title</a>

                        <a class="remove-tag" ng-click="removeTag(tag)">x</a>
                    </span>

                    <span ng-show="editorEnabled">
                        <input ng-model="formEditName.tagName" ng-show="editorEnabled(tag)">
                        <a ng-click="save()">Save</a>
                        or
                        <a ng-click="disableEditor()">cancel</a>.
                    </span>

                </li>
            </ul>
        </div>
    </div>
</script>
