<script id="tagsListTemplate.html" type="text/ng-template">
    <div class="container" ng-controller="tagsCtrl">
        <div class="row">
            <h2>{{ titlePage }}</h2>

            <form ng-submit="createTag()">
                <input type="text" ng-model="form.tagName" size="20" />
                <input type="submit" value="Add tag" />
            </form>

            <ul class="tags">
                <li ng-repeat="tag in tags">
                    <span class="tag" tag-item tid="{{ tag._id }}" style="color: {{ tag.textColor }}; background-color:{{ tag.backgroundColor }};" >
                        <span>{{ tag.name }}</span>
                        (<a ng-click="editTag(tag)">edit</a>)
                        (<a ng-click="removeTag(tag)">x</a>)
                    </span>
                </li>
            </ul>
        </div>
    </div>
</script>
