<script id="tagsListTemplate.html" type="text/ng-template">
    <div class="container" ng-controller="tagsCtrl">
        <div class="row">
            <h2>{{ titlePage }}</h2>

            <form ng-submit="createTag()">
                <input type="text" ng-model="formCreate.tagName" size="20" />
                <input type="submit" value="Add tag" />
            </form>

            <ul class="tags">
                <li ng-repeat="tag in tags">
                    <span class="tag" tag-item tid="{{ tag._id }}" style="color: {{ tag.textColor }}; background-color:{{ tag.backgroundColor }};" >
                        <span>{{ tag.name }}</span>

                        <a class="remove-tag" ng-click="removeTag(tag)">x</a>

                        <!--
                        <a ng-click="editTag(tag)" ng-hide="editorEnabled">Edit</a>

                        <span ng-show="editorEnabled">
                            <input ng-model="" ng-show="editorEnabled">
                            <a ng-click="save()">Save</a>
                            <a ng-click="disable Editor()">Cancel</a>
                        </span>
                        -->

                    </span>

                </li>
            </ul>

        </div>
    </div>
</script>
