html, body{
	height: 100%;
	font-family: Arial, sans-serif;
	font-size: 12px;
}
body{
	font-size: 12px;
	color: #6a747d;
	line-height: 1.4;
    background-color: $bg-color;
}
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.clearfix:before,
.clearfix:after{
	display: block;
	height: 0;
	clear: both;
	content: "";
}
.header{
	width: 100%;
	background-color: white;
	z-index: 999;
	top: 0;
	height: 143px;
	transition: all .5s;
}
.header.collapsed{
	height: 53px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.3);
}
.top_header{
	text-align: center;
	padding: 14px 0;
	transition: all .5s;
	overflow: hidden;
}
.header.collapsed .top_header{
	height: 0;
	padding: 0;
}
.wrapper{
	max-width: 980px;
	margin: 0 auto;
	width: 100%;
	padding: 0 30px;
	min-width: 240px;
}
.top_header{
	height: 85px;
	line-height: 43px;
	background-color: #fff;
	text-align: center;
	border-top: 15px solid #184a89;
}
.lang {
    border-top: 1px solid #e5e5e7;
    border-bottom: 1px solid #cccccc;
    height: 42px;
    background: #fbfcff;
}

.lang .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-panel {
    background: rgb(249, 249, 249);
    background: -moz-linear-gradient(90deg, rgb(249, 249, 249) 0%, rgb(215, 215, 215) 94%);
    background: -webkit-linear-gradient(90deg, rgb(249, 249, 249) 0%, rgb(215, 215, 215) 94%);
    background: -o-linear-gradient(90deg, rgb(249, 249, 249) 0%, rgb(215, 215, 215) 94%);
    background: -ms-linear-gradient(90deg, rgb(249, 249, 249) 0%, rgb(215, 215, 215) 94%);
    background: linear-gradient(180deg, rgb(249, 249, 249) 0%, rgb(215, 215, 215) 94%);
    height: 115px;
}

.colLeftPanel {
    float: left;
    width: 30%;
    padding: 20px;
}
.colLeftPanel label {
    clear: both;
    font-size: 1.5em;
    color: #000;
}
.colLeftPanel div {
    padding: 5px 0px;
}
.colLeftPanel a {
    color: #4966d2;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px;
}
.colLeftPanel a:hover, .colLeftPanel a.active {
    background: #c9c5c5;
    color: #000;
    font-weight: 500;
    border-radius: 7px;
}
.colRightPanel {
    height: 100px;
    text-align: center;
}
.colRightPanel input {
    width: 50%;
    height: 36px;
    margin: 0px;
    padding: 0px;
    float: left;
}
.colRightPanel a{
    height: 36px;
    float: left;
}

.search {
    padding-top: 40px;
}

.searchButton img {
    margin-top: -1px;
    margin-left: -1px;
}

.result-header {
    background: rgb(242, 242, 242);
    background: -moz-linear-gradient(90deg, rgb(242, 242, 242) 11%, rgb(185, 185, 185) 90%);
    background: -webkit-linear-gradient(90deg, rgb(242, 242, 242) 11%, rgb(185, 185, 185) 90%);
    background: -o-linear-gradient(90deg, rgb(242, 242, 242) 11%, rgb(185, 185, 185) 90%);
    background: -ms-linear-gradient(90deg, rgb(242, 242, 242) 11%, rgb(185, 185, 185) 90%);
    background: linear-gradient(180deg, rgb(242, 242, 242) 11%, rgb(185, 185, 185) 90%);
    height: 41px;
    width: 100%;
    border-top: 1px solid #d1d1d1;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.51);
    -moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.51);
    box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.51);
    margin-top: 40px;
}

.result-list {
    background: #fff;
}
.result-list h3 {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    color: #0066d5;
}

.result-row {
    padding: 20px 50px;
    line-height: 1.0;
}
