<script type="text/ng-template" id="/listTagsTemplate.html">
    <ul class="tags" ng-show="model.tags.length !== 0">
        <li ng-repeat="tag in model.tags">
            <span class="tag" style="color: {{ tag.textColor }}; background-color:{{ tag.backgroundColor }};">
                <span>{{ tag.name }}</span>
                <a class="remove-tag" ng-click="viewAPI.removeTagItem(tag)">x</a>
            </span>
        </li>
        <li ng-show="true">
            <span class="add-tag" ng-show="!viewAPI.showFormAddTag" ng-click="showFormAddTag = !viewAPI.showFormAddTag"></span>
            <form ng-show="showFormAddTag" ng-submit="viewAPI.addTag()">
                <input type="text" ng-model="model.form.tagName" size="20" />
                <span ng-click="viewAPI.addTag()">save</span>
                <span ng-show="viewAPI.showFormAddTag" ng-click="viewAPI.showFormAddTag = !showFormAddTag">cancel</span>
            </form>
        </li>
        <div class="alert alert-danger" role="alert" ng-show="viewAPI.msgWorning">
            <span>{{ model.msgWorning }}</span>
        </div>
    </ul>
</script>
