<ul class="nav navbar-nav">
        <li><a ui-sref="/" ui-sref-active='active'>Модуль: 'Search'</a></li>
        <li><a ui-sref="search" ui-sref-active='active'>Модуль: 'Search' - search results</a></li>
        <li><a ui-sref="search.advanced" ui-sref-active='active'>Модуль: 'Search' - submodule 'Advanced search'</a></li>
        <li><a ui-sref="search.cart" ui-sref-active='active'>Модуль: 'Cart'</a></li>
        <li><a ui-sref="search.tags" ui-sref-active='active'>Модуль: 'Tags'</a></li>
</ul>