block content

body(id="app")

    include ../common/header/header.jade

    ul(class="nav navbar-nav")
        li
            a(ui-sref="search") Module: 'Search'
        li
            a(ui-sref="cart") Module: 'Cart'
        li
            a(ui-sref="tags") Module: 'Tags'

    div(ui-view)

    include ../common/footer/footer.jade

block scripts
script.
    var GLOBAL_USER_ID = '#{userId}';

script(src=locals.way + '../../build/scripts/vendor.js')
script(src=locals.way + '../../build/scripts/search.bundle.js')
