block content
body(id='app')
    ul(class='nav navbar-nav')
        li(ui-sref='search')
            a Module: 'Search'
        li(ui-sref='advanced')
            a Submodule: 'Search -> advanced'
        li(ui-sref='cart')
            a Submodule: 'Cart'
        li(ui-sref='tags')
            a Submodule: 'Tags'

<div ui-view></div>

block scripts
script.
    var GLOBAL_USER_ID = '#{userId}';
script(src=locals.way+'../../build/scripts/vendor.js')
script(src=locals.way+'../../build/scripts/common.bundle.js')
script(src=locals.way+'../../build/scripts/search.bundle.js')
