doctype html
html

    head
        title Learn Angular!
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="../../build/styles/styles.css")

    body(id="app" ng-controller="mainCtrl")
    h1 Loading app..

        
block scripts
script.
    var GLOBAL_USER_ID = '#{userId}';
include error.html
include main.jade
script(src=locals.way + '../../build/scripts/vendor.js')
script(src=locals.way + '../../build/scripts/search.bundle.js')

