block content
body(id="app")
ul(class="nav navbar-nav")
	li(ui-sref="/") 
		a Main
	li(ui-sref="search") 
		a Модуль: 'Search'
 
<div ui-view="main"></div>
block scripts
script.
	var GLOBAL_USER_ID = '#{userId}';
script(src=locals.way+'../../build/scripts/vendors.js')
script(src=locals.way+'../../build/scripts/common.bundle.js')
script(src=locals.way+'../../build/scripts/search.bundle.js')
