script(type="text/ng-template" id="/main.html")
    header.container
        include ../common/header/header.jade

    section.container
        div.row
            div.col-md-12.ui-view
                div(ui-view)

    footer.container
        include ../common/footer/footer.jade
