<script type="text/ng-template" id="/accountModulePageTemplate.html">
    <div class="container">

        <div class="row">
            <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12">
                <h2>{{ model.pageTitle }}</h2>
            </div>
        </div>

        <div class="row result">
            <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12">
                <div>
                    <div class="manage-account-wrap">

                        <div class="top-panele-ma panele-ma">Manage Account Setting</div>
                        <div class="left-panele-ma panele-ma">
                            <ul>
                                <li>
                                    <a>Name, email address & password</a>
                                </li>
                                <li>
                                    <a>Email notification</a>
                                </li>
                            </ul>
                        </div>
                        <div class="right-panele-ma panele-ma">




                            <div class="block-one block-item">

                                <div class="block-inline">
                                    <div>
                                        <p>Your name:</p>
                                        <p ng-show="model.isVisibilityFormUserName">
                                            <span ng-model="model" class="user-name">{{ model.userData.userName }}</span>
                                        </p>
                                        <p ng-hide="model.isVisibilityFormUserName">
                                            <input ng-model="model.userNameParam.firstName">
                                            <input ng-model="model.userNameParam.lastName">
                                        </p>
                                    </div>
                                </div>

                                <div class="block-inline">
                                    <div class="fright" ng-show="model.isVisibilityFormUserName">
                                        <a ng-click="viewAPI.editUserName()">Edit</a>
                                    </div>
                                    <div class="fright" ng-hide="model.isVisibilityFormUserName">
                                        <a ng-click="viewAPI.btnCancelUserName()">Cancel</a>
                                        <a ng-click="viewAPI.btnSaveUserName()">Save</a>
                                    </div>
                                </div>

                            </div>



                            <div class="block-two block-item">

                                <div class="block-inline">
                                    <p>Your user name and primary email address:</p>
                                    <p ng-show="model.isVisibilityFormUserEmail">
                                        <span>{{ model.userData.userEmail }}</span>
                                    </p>
                                    <p ng-hide="model.isVisibilityFormUserEmail">
                                        <input ng-model="model.userEmailNew">
                                    </p>
                                </div>

                                <div class="block-inline">
                                    <div class="fright" ng-show="model.isVisibilityFormUserEmail">
                                        <a class="edit" ng-click="viewAPI.editUserEmail()">Edit</a>
                                    </div>
                                    <div class="fright" ng-hide="model.isVisibilityFormUserEmail">
                                        <a ng-click="viewAPI.btnCancelUserEmail()">Cancel</a>
                                        <a ng-click="viewAPI.btnSaveUserEmail()">Save</a>
                                    </div>
                                </div>

                            </div>




                            <div class="block-tree block-item">
                                   <div class="block-inline">
                                    <a ng-click="viewAPI.resetPassword()">Reset password</a>
                                </div>
                            </div>




                        </div>

                    </div>
                </div>


            </div>
        </div>

    </div>
</script>
