script(type="text/ng-template" id="/header.html")
    .container-fluid
        .row.col-md-12
            p Angular + webpack + commanJS Application
            main.row
                ul(class="nav navbar-nav")
                    li
                        a(ui-sref="app.search.simple") Модуль: 'Search'
                    li
                        a(ui-sref="app.search.advanced") Модуль: 'advancedSearch'
                    li
                        a(ui-sref="app.cart") Module: 'Cart'
                    li
                        a(ui-sref="app.tags") Module: 'Tags'

            .row.col-md-12.ui-view
