div.row
    div.col-md-12

        div.title
            h1 Angular Application

        nav.navbar.navbar-inverse
            ul.nav.navbar-nav
                li
                    a(ui-sref="search.simple") Module Search
                li
                    a(ui-sref="search.advanced") Module Search Advanced
                li
                    a(ui-sref="cart") Module Cart
                li
                    a(ui-sref="tags") Module Tags
