script(type="text/ng-template" id="/header.html")
    div(class="header")
        div(class="top_header")
            div(class="wrapper")
                p Angular + webpack + commanJS Application
    div(class="lang")
        div(class="wrapper")
            .container-fluid
                .row.col-md-12
                    main.row
                        ul(class="navbar-nav nav")
                            li
                                a(ui-sref="search.simple") Модуль: 'Search'
                            li
                                a(ui-sref="search.advanced") Модуль: 'advancedSearch'
                            li
                                a(ui-sref="cart") Module: 'Cart'
                            li
                                a(ui-sref="tags") Module: 'Tags'

                .row.col-md-12.ui-view
