script(type="text/ng-template" id="/header.html")

    .header
        .header-top
            .wrapper
                .header-elem.logo
                    a(href="/")
                        img(src="../img/logotip.png")
                .header-elem.app-name
                    h3 Application name..

                .header-elem.link-help
                    a(href="/") Help
                .header-elem.link-admin
                    a(href="/admin-app") Admin
                .header-elem.link-cart
                    a(ui-sref="cart") Cart
                .header-elem.link-account
                    a(ui-sref="account" href="/")
                        span.icon-account
                        span User name
                .header-elem.link-lang
                    div(ng-controller="headerCtrl as header")
                        div(class="btn-group" role="group"  )
                            button(type="button" class="btn btn-default" ng-click="header.viewApi.setLang('en')" ng-class="{active : header.model.currentLang=='en'}" ng-model="header.model.currentLang") EN
                            button(type="button" class="btn btn-default" ng-click="header.viewApi.setLang('ru')" ng-class="{active : header.model.currentLang==='ru'}" ng-model="header.model.currentLang") RU
        .header-bottom
            .wrapper
                .container-fluid
                    .row.col-md-12
                        a.tags(ui-sref="tags" href="/")
                            span.icon-tags
                            span Manage Your Tags

                    .row.col-md-12.ui-view
