<script type="text/ng-template" id="/admin.html">
        <div class="search-panel">
            <div class="wrapper">
                <div class="return-results">
                    <div ng-click="back()"> > Return to results</div>
            </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="article-details">
                <h2 ng-click='test()'>ADMIN PORTAL</h2>
                    <div style="display:inline-block">
                        <p ng-repeat='tab in tabs'
                           ng-click="changeTab(tab.value)"
                           style="float:left;margin:20px"
                           >{{tab.title}}</p>
                    </div>
                    <records-list
                                  header-settings = 'headerConfig'
                                  items-settings = 'itemConfig'
                                  itemslist = 'itemsList'
                                  ng-model = 'showResults'
                                  >
                    </records-list>
            </div>
        </div>
<!--

-->
</script>
