<<<<<<< HEAD
include error.html
include recordsListDir/index.jade
include recordsEditDir/index.jade
include ../common/header/header.jade
include ../common/footer/footer.jade
=======
include ./error.html
include ./recordsListDir/index.jade
include ./header/header.jade
include ./footer/footer.jade
include ./modal/index.html
>>>>>>> 253bf13a28ad8a28b1be9b4d2f70966abba105fd
